[submodule "subject"]
	path = subject
	url = https://github.com/23tae/42-subject.git
[submodule "libft"]
	path = libft
	url = https://github.com/23tae/42-libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/23tae/42-get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/23tae/42-ft_printf.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/23tae/42-minitalk.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/23tae/42-push_swap.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/23tae/42-so_long.git
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/23tae/42-philosophers.git
[submodule "libft_customized"]
	path = libft_customized
	url = https://github.com/23tae/42-libft-customized.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/23tae/42-minishell.git
[submodule "netpractice"]
	path = netpractice
	url = https://github.com/23tae/42-netpractice.git
